<%= link_to "New group", new_group_path %>

<div class="menu">
  <%= render partial: 'partials/menu', locals: { title: 'GROUPS', menu_path: root_path } %>
</div>

<section class="groups">
  <div>
    <% @groups.each do |group| %>
    <div class="group">
     <div>
      <a href=<%= group_expenses_path(group_id: group.id) %>>
        <% if group.icon.attached?%>
          <%= image_tag(group.icon) %>
        <%else%>
          <%= image_tag('money-chat-group.png') %>
        <%end%>

        <div>
          <h2><%= group.name %></h2>
          <% if Time.now - group.created_at <= 1.minute %>
            <p><%= time_ago_in_words(group.created_at, include_seconds: true) %> ago</p>
          <% elsif Time.now - group.created_at <= 24.hours %>
            <p><%= time_ago_in_words(group.created_at) %> ago</p>
          <% else %>
            <p><%= group.created_at.strftime('%b %d, %Y') %></p>
          <% end %>
        </div>
        </a>
     </div>
      <div class="list_gen">
        <h3>$ <%= group.expenses.sum(:amount) %></h3>
        <div class="btn_list">
          <button class="list_btn"><%= link_to 'Detail', group_path(id: group.id) %> </button>
          <button class="list_btn"><%= link_to 'Expense', group_expenses_path(group_id: group.id) %> </button>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <button class="add_btn"><%= link_to 'Add new group', new_group_path %> </button>
</section>



