<% if @group.icon.attached?%>
    <%= image_tag(@group.icon) %>
  <%else%>
    <%= image_tag('group-money.svg') %>
  <%end%>
<h1><%= @group.name %></h1>

<%= link_to "Edit this group", edit_group_path(@group) %>
<%= link_to "Back to groups", group_path %>
<%= button_to "Destroy this group", @group, method: :delete %>