<div class="menu">
  <%= render partial: 'partials/menu', locals: { title: 'GROUP DETAILS', menu_path: root_path } %>
</div>

<section class="group_detail_page">
  <div class="group">
    <div>
      <% if @group.icon.attached?%>
          <%= image_tag(@group.icon) %>
        <%else%>
          <%= image_tag('money-chat-group.png') %>
        <%end%>
      <h1><%= @group.name %></h1>
    </div>

    <div class="list_btn_gen">
      <%= link_to "Edit this group", edit_group_path(@group) %>
      <%= link_to "Back to groups", groups_path %>
      <%= button_to "Destroy this group", @group, method: :delete %>
    </div>
  </div>
<section>