<div class="menu">
  <%= render partial: 'partials/menu', locals: { title: 'Expenses', menu_path: root_path } %>
</div>

<section class="expenses_page">
  <div class="group">
    <div>
      <% if @group.icon.attached?%>
        <%= image_tag(@group.icon) %>
      <%else%>
        <%= image_tag('money-chat-group.png') %>
      <%end%>
      <h2><%= @group.name %></h2>
    </div>
    <p>The <%= @group.name %> group has the following <%= @group_expenses.count %> transactions </p>
  </div>

  <% @group_expenses.each_with_index do |group_expense, index| %>
    <div class="group">
      <p><%= "#{index + 1})" %></p>
      <% if group_expense.expense.icon.attached?%>
        <%= image_tag(group_expense.expense.icon) %>
      <%else%>
        <%= image_tag('expense.png') %>
      <%end%>
      <%= group_expense.expense.name %>
      <% if Time.now - group_expense.created_at <= 1.minute %>
        <p><%= time_ago_in_words(group_expense.created_at, include_seconds: true) %> ago</p>
      <% elsif Time.now - group_expense.created_at <= 24.hours %>
        <p><%= time_ago_in_words(group_expense.created_at) %> ago</p>
      <% else %>
        <p><%= group_expense.created_at.strftime('%b %d, %Y') %></p>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Add new group', new_group_expense_path(group_id: @group.id) %>

</section>